@import "./Partials/reset";
@import "./Partials/variables";
@import "./Partials/header";
@import "./Partials/hero";
@import "./Partials/funcion";
@import "./Partials/footer";
@import "./Partials/proyectos";
@import "./Partials/contacto";
@import "./Partials/casas";
@import "./Partials/trabaja-nosotros";