.funcion1 {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    background-color: #AAABBC;
}

.funcionamiento {
    display: grid;
    grid-template-columns: 4fr 6fr 3fr;
    column-gap: 1rem;
    row-gap: 2rem;
    text-align: end;
    align-items: center;
    background-color: #AAABBC;
    .text-hacer {
        font-size: 1.7rem;
        padding: 2rem;
        text-align: center;
        color: $colorTexto;
        filter: drop-shadow(1px 1px 30px  black);
        background-color: #3f414b;
        border: solid;
        border-color: black;
        margin: 2rem;
        border-radius: 1rem;
        border-width: 0.2rem;
    }
    .hacer-texto {
        grid-column: 2/4;
    }
    .hacer-foto {
        grid-column: 1/2;
    }
    .casa {
        width: 50rem;
        filter: drop-shadow(1px 1px 30px  white);
        border: solid;
        border-color: $colorSecundario;
        margin: 1rem;
    }
}

.funcionamiento2 {
    display: grid;
    grid-template-columns: 4fr 6fr 3fr;
    column-gap: 1rem;
    row-gap: 2rem;
    text-align: end;
    align-items: center;
    background-color: #AAABBC;
    .text-hacer2 {
        font-size: 1.7rem;
        padding: 2rem;
        text-align: center;
    }
    .hacer-texto2 {
        grid-column: 1/3;
        grid-row: 1;
        color: $colorTexto;
        filter: drop-shadow(1px 1px 30px  black);
        background-color: #3f414b;
        border: solid;
        border-color: black;
        margin: 2rem;
        border-radius: 1rem;
        border-width: 0.2rem;
    }
    .hacer-foto2 {
        grid-column: 3/4;
    }
    .casa2 {
        width: 50rem;
        filter: drop-shadow(1px 1px 30px  white);
        border: solid;
        border-color: $colorSecundario;
        margin: 1rem;
    }
}

.funcion2 {
    display: flex;
    text-align: center;
}



@media (max-width: 1490px) {
    .funcionamiento{
        .casa {
            width: 35rem;
        }
        .text-hacer {
            font-size: 1.5rem;
        }
    }
    .funcionamiento2 {
        .casa2 {
            width: 35rem;
        }
        .text-hacer2 {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1110px) {
    .funcionamiento {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: normal;
        text-align: start;
        .casa {
            width: 48rem;
        }
        .hacer-foto {   
            grid-column: 1;
            grid-row: 1;
            padding-left: 11rem;
            position: relative;
            top: 3em;
        }
        .hacer-texto {
            grid-column: 1;
            grid-row: 2;
        }
    }

    .funcionamiento2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: normal;
        text-align: start;
        .casa2 {
            width: 48rem;
        }
        .hacer-foto2 {
            grid-column: 1;
            grid-row: 1;
            padding-left: 11rem;
            position: relative;
            top: 3em;
        }
        .hacer-texto2 {
            grid-column: 1;
            grid-row: 2;
        }
    }
}


@media (max-width: 832px) {
    .funcionamiento {
        grid-template-columns: 1fr;
        align-items: normal;
        text-align: start;
        .hacer-texto {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .hacer-foto {
        display: none;
        }
    }
    .funcionamiento2 {
        grid-template-columns: 1fr;
        align-items: normal;
        text-align: start;
        .hacer-texto2 {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .hacer-foto2 {
        display: none;
        }
    }
}

@media (max-width: 362px) {
    .funcionamiento {
        .text-hacer {
            font-size: 1.2rem;
        }
    }
    .funcionamiento2 {
        .text-hacer2 {
            font-size: 1.2rem;
        }
    }
}








    // .superposmain {
    //     position: absolute;
    //     z-index: 99999;
    //     text-align: center;
    //     left: 0px;
    //     backdrop-filter: invert(35%);
        
    //     padding-top: 7.5rem;
    //     padding-bottom: 7.4rem;
    //     padding-left: 9rem;
    //     padding-right: 10.1rem;
        
    //     background-image: url(../../images/joshua-bartell-6vvIBTvL90A-unsplash.jpg); /* Change URL to texture file name */
    //     background-repeat: repeat;
    //     background-position: top center;
    //     font-weight:normal;
    //     text-transform: uppercase;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     -webkit-font-smoothing: antialiased;
    //     text-shadow: 8px 8px 35px black;
    //     .superpos {
    //         font-size: 5rem;
    //     }
    // }