.encabezado {
    background: linear-gradient(175deg, #B3C2F2 0%, $colorPrincipal 49%);
    display: flex;
    color: white;
    align-items: center;
    padding: 0.5rem 3rem;

    .logogrande  {
        width: 15rem;
    }

    .logopequeno  {
        width: 10rem;
        position: relative;
    }
    .navbar {
        position: absolute;
        right: 2rem;
        .offcanvas-title{
            font-size: 1.8rem;
        }
        .nav-item {
            font-size: 1.5rem;
        }
    }

    .menu {
        display: flex;
        gap: 2rem;
        font-size: 1.7rem;

        .menu-button {
            color: $colorTexto;
            text-decoration: none;
            background: transparent;
            border: none;
            padding: 0.5em 0.5em;
            position: relative;
            transition: 0.5s ease;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background-color: $colorTerciario;
                transition: 0.5s ease;
            }

            &:hover {
              font-size: 1.85rem;
              transition-delay: 0.3s;
            }

            &:hover::before {
              width: 100%;
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 0;
              width: 100%;
              background-color: $colorTerciario;
              transition: 0.4s ease;
              z-index: -1;
            }

            &:hover::after {
              height: 100%;
              transition-delay: 0.4s;
              color: $colorAnim;
            }
        }
    }
}


@media (min-width: 1193px) {
    .navbar {
        display: none;
    }
    .logopequeno {
        display: none;
    }
}
@media (max-width: 1192px) {
    .menu-button {
        display: none;
    }
    .navbar {
        display: show;
        flex: 19rem;
    }
    .logogrande  {
        display: none;
    }
    .logopequeno {
        display: show;
    }
}