@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}

* {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
ul {
    list-style-type: none;
}
