.titulo-trabajo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    transition: 2s;
}

.form2 {
    max-width: 400px;
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to top, white, $colorTerciario);    
    padding: 20px;
    box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
      
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a202c;
    }
  
  .label {
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
    }
  
  .input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
    color: #4a5568;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
      
    &:focus {
        background-color: #fff;
        box-shadow: 0 0 0 2px #cbd5e0;
        }
    
    &:valid {
        border: 1px solid $colorPrincipal;
        }
    
    &:invalid {
        border: 1px solid rgba(14, 14, 14, 0.205);
        }
    }

  .input2 {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
    color: #1a202c;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    }

  .submit {
    background-color: #1a202c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
}
.container-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .map {
        background-color: $colorOpaco;
        padding: 1rem;
        position: relative;
    }
}

@media (max-width: "984px") {
    .titulo-trabajo {
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .titulo-trabajo2 {
        font-size: 1.5rem;
    }
}
@media (max-width: "804px") {
    .tile-map {
        font-size: 1.5rem;
    }
}
@media (max-width: "602px") {
    .tile-map {
        font-size: 1.3rem;
    }
    .map {
        width: 25rem;
    }
}
@media (max-width: "658px") {
    .titulo-trabajo {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .titulo-trabajo2 {
        font-size: 1.5rem;
    }
}
@media (max-width: "562px") {
    .titulo-trabajo {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .titulo-trabajo2 {
        font-size: 1.5rem;
    }
}
@media (max-width: "413px") {
    .titulo-trabajo {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .titulo-trabajo2 {
        font-size: 1.5rem;
    }
}
@media (max-width: "390px") {
    .map {
        width: 23rem;
    }
}
@media (max-width: "365px") {
    .map {
        width: 21rem;
    }
}